$dark-blue: #1397B3; // light blue //
$secondary-color: $dark-blue;

$darkgray: #333;
$light-tan: #ccc;

$light-green: #329D27;
$dark-green: #0D8800;

$light-red: #FD3F49;

$light-orange: #FF9340;

$primary-color: $light-green;
$secondary-color: $light-orange;

/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Lilita+One);

/*$header-font-family: 'Oswald', sans-serif;*/
$header-font-family: 'Lilita One', cursive;