<div class="about-wrap">
	<h1><span class="glyphicon glyphicon-info-sign"></span>About ORG Websites</h1>
	<article class="about-txt">
		<p>We are an innovative development shop that can help your non-profit group dive into the vast ocean of the Internet. We'll make sure that you'll be found with first class SEO (search engine optimization). We'll make sure you'll be noticed and your users have a great experience with a great design focused on UX/UI (User Experience/User Interface) and your goals in mind. We'll also make sure you're able to connect with your audience like never before with outstanding social media integration, development, and consulting.</p>
	</article>
</div>
<h2 class="header-center">Why choose ORG Websites?</h2>
{{>enticements}}