<div class="contact-wrap">
	<h1><span class="glyphicon glyphicon-phone"></span>Contact ORG Websites</h1>
	<article class="contact-txt">
		<h3>(214) 702-6752 - Dallas, TX</h3>
		<p>Have questions or concerns for our team? Shoot us an email here and we'll get back with you as soon as possible.</p>

		<p>Give us your name, email address, city where you reside, and a detailed message here.</p>

		<p>We love hearing from our clients and potential clients, so if you have any questions or concerns please do not hesitate to contact us!</p>
	</article>
</div>
<h2 class="header-center">Why choose ORG Websites?</h2>
{{>enticements}}