
<section class="styleguide-wrapper">

	<div class="box-300-300 module red">
		<span class="glyphicon glyphicon-tower"></span>
	</div>

	<div class="box-300-300 module blue">
		<span class="glyphicon glyphicon-tower"></span>
	</div>

<h2>Facebook</h2>
	<div class="module fb-bg rect red">
		<span class="glyphicon glyphicon-tower"></span>
		<h1>ORG Websites</h1>
		<div class="moretxt">
			<h3>What do we do?</h3>
			<p>ORG Websites is dedicated to bringing the latest in online technology and social media research to your non-profit group. We'll help you stand out in the crowd with a great looking, secure, and engaging web experience.</p>
		</div>
	</div>

	<div class="module fb-bg rect blue">
		<span class="glyphicon glyphicon-tower"></span>
		<h1>ORG Websites</h1>
		<div class="moretxt">
			<h3>What do we do?</h3>
			<p>ORG Websites is dedicated to bringing the latest in online technology and social media research to your non-profit group. We'll help you stand out in the crowd with a great looking, secure, and engaging web experience.</p>
		</div>
	</div>

<h2>Twitter</h2>
	<div class="module twitter-bg rect red">
		<span class="glyphicon glyphicon-tower"></span>
		<h1>ORG Websites</h1>
	</div>

	<div class="module twitter-bg rect blue">
		<span class="glyphicon glyphicon-tower"></span>
		<h1>ORG Websites</h1>
	</div>


<h2>Google Plus</h2>
	<div class="module gplus-bg rect red">
		<span class="glyphicon glyphicon-tower"></span>
		<h1>ORG Websites</h1>
	</div>
	
	<div class="module gplus-bg rect blue">
		<span class="glyphicon glyphicon-tower"></span>
		<h1>ORG Websites</h1>
	</div>

</section>