<section class="enticement-section">
	<ul class="enticement-wrap">
		<li class="enticement module">
			<div class="enticement-icon security-icon">
				<span class="glyphicon glyphicon-lock"></span>
			</div>
			<h3>Security</h3>
			<p>Keep your site secure from hack-attacks. We implement the some of the most secure and up to standard code out today. This will keep your site from falling victim to attacks as well as keep it fast and accessible.</p>
		</li>
		<li class="enticement module">
			<div class="enticement-icon seo-icon">
				<span class="glyphicon glyphicon-list-alt"></span>
			</div>
			<h3>SEO</h3>
			<p>Search Engine Optimization is backed into every site we build. If you want to get found my more people SEO is the key. We keep in touch with the latest standards from Google and Bing to make sure you're reaching the biggest audience possible.</p>
		</li>
		<li class="enticement module">
			<div class="enticement-icon seo-icon">
				<span class="glyphicon glyphicon-comment"></span>
			</div>
			<h3>Social</h3>
			<p>Stay connected with your audience and constituents like never before with integrated social media management. We'll help get you set up and stay connected with the platforms that will help you the most.</p>
		</li>
		<li class="enticement module">
			<div class="enticement-icon seo-icon">
				<span class="glyphicon glyphicon-th"></span>
			</div>
			<h3>Flexible</h3>
			<p>We'll make sure your site can reach the biggest audience possible by making it as flexible as possible. This means making it responsive to work the best it can on any device it's loaded on.</p>
		</li>
	</ul>
</section>