<header class="header-img">
	<article class="container header-article">
  		<h1>Check Out <span>ORG Websites</span></h1>
  		<p>Learn how we can help get your non-profit movement, moving!</p>
	</article>
	<div class="header-img-scroll">
		<span class="glyphicon glyphicon-chevron-down"></span> Why choose ORG Websites?
	</div>
</header>