.about-wrap {
	background: lighten($primary-color, 15%);
	padding: 6em 0.5em 1em;
	@media (min-width: 481px) {
		padding: 6em 2em 5em;
	}

	.glyphicon-info-sign {
		padding-right: 0.3em;
		font-size: 90%;
	}
	h1 {
		color: lighten($light-tan, 15%);
		font-size: 1.7em;
		@media (min-width: 481px) {
			font-size: 3em;
		}
	}

	.about-txt {
		color: #f1f1f1;
		padding: 0.2em;
		max-width: 50em;
		text-align: justify;
		@media (min-width: 481px) {
			padding-left: 3em;
		}
	}
}